@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.strokes-font {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.vertical-alignment-abs {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extend-bg-color::after {
  @apply absolute;
  @apply bg-inherit;
  @apply inset-x-0;
  @apply h-24;
  content: '';
  z-index: -1;
}

.bg-image-opacity::after {
  @apply absolute;
  @apply inset-0;
  @apply rounded-r-xl;
  background-color: rgba(153, 152, 153, 0.5);
  content: '';
  z-index: -1;
}

@font-face {
  font-family: "gotham";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GothamBook.woff') format('woff')
}

@font-face {
  font-family: gotham;
  font-style: italic;
  font-weight: 400;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamBookItalic.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 300;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamLight.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: italic;
  font-weight: 300;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamLightItalic.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamMedium.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamMedium_1.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: italic;
  font-weight: 500;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamMediumItalic.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 700;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamBold.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: normal;
  font-weight: 700;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/Gotham-Bold.woff) format('woff')
}

@font-face {
  font-family: gotham;
  font-style: italic;
  font-weight: 700;
  src: local('Gotham'), url(https://fonts.cdnfonts.com/s/14898/GothamBoldItalic.woff) format('woff')
}

@font-face {
  font-family: gotham black;
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Black'), url(https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff) format('woff')
}

@font-face {
  font-family: gotham light;
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Light'), url(https://fonts.cdnfonts.com/s/14898/Gotham-Light.woff) format('woff')
}

@font-face {
  font-family: gotham thin;
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Thin'), url(https://fonts.cdnfonts.com/s/14898/Gotham-Thin.woff) format('woff')
}

@font-face {
  font-family: gotham xlight;
  font-style: normal;
  font-weight: 500;
  src: local('Gotham XLight'), url(https://fonts.cdnfonts.com/s/14898/Gotham-XLight.woff) format('woff')
}

@font-face {
  font-family: gotham book;
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Book'), url(https://fonts.cdnfonts.com/s/14898/Gotham-BookItalic.woff) format('woff')
}

@font-face {
  font-family: gotham thin;
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Thin'), url(https://fonts.cdnfonts.com/s/14898/Gotham-ThinItalic.woff) format('woff')
}

@font-face {
  font-family: gotham ultra;
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Ultra'), url(https://fonts.cdnfonts.com/s/14898/Gotham-UltraItalic.woff) format('woff')
}

@font-face {
  font-family: gotham xlight;
  font-style: italic;
  font-weight: 500;
  src: local('Gotham XLight'), url(https://fonts.cdnfonts.com/s/14898/Gotham-XLightItalic.woff) format('woff')
}

.custom-dots li button::before {
  @apply text-white !important;
}