@tailwind base;
@tailwind components;
@tailwind utilities;

.strokes-font {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.vertical-alignment-abs {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extend-bg-color::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100px;
  background-color: inherit;
  z-index: -1;
}