@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.strokes-font {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.vertical-alignment-abs {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extend-bg-color::after {
  @apply absolute;
  @apply bg-inherit;
  @apply inset-x-0;
  @apply h-24;
  content: '';
  z-index: -1;
}

.bg-image-opacity::after {
  @apply absolute;
  @apply inset-0;
  @apply rounded-r-xl;
  background-color: rgba(153, 152, 153, 0.5);
  content: '';
  z-index: -1;
}

.custom-dots li button::before {
  @apply text-white !important;
}